section {
	background-color: rgb(238, 238, 238);
}
section {
	position: relative; -ms-word-wrap: break-word;
}
.container {
	position: relative; -ms-word-wrap: break-word;
}
.container-fluid {
	position: relative; -ms-word-wrap: break-word;
}
a.mbr-iconfont:hover {
	text-decoration: none;
}
.article .lead p {
	margin-bottom: 0px;
}
.article .lead ul {
	margin-bottom: 0px;
}
.article .lead ol {
	margin-bottom: 0px;
}
.article .lead pre {
	margin-bottom: 0px;
}
.article .lead blockquote {
	margin-bottom: 0px;
}
a {
	font-style: normal; font-weight: 400; cursor: pointer;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
figure {
	margin-bottom: 0px;
}
body {
	color: rgb(35, 35, 35);
}
h1 {
	line-height: 1; -ms-word-wrap: break-word;
}
h2 {
	line-height: 1; -ms-word-wrap: break-word;
}
h3 {
	line-height: 1; -ms-word-wrap: break-word;
}
h4 {
	line-height: 1; -ms-word-wrap: break-word;
}
h5 {
	line-height: 1; -ms-word-wrap: break-word;
}
h6 {
	line-height: 1; -ms-word-wrap: break-word;
}
.h1 {
	line-height: 1; -ms-word-wrap: break-word;
}
.h2 {
	line-height: 1; -ms-word-wrap: break-word;
}
.h3 {
	line-height: 1; -ms-word-wrap: break-word;
}
.h4 {
	line-height: 1; -ms-word-wrap: break-word;
}
.h5 {
	line-height: 1; -ms-word-wrap: break-word;
}
.h6 {
	line-height: 1; -ms-word-wrap: break-word;
}
.display-1 {
	line-height: 1; -ms-word-wrap: break-word;
}
.display-2 {
	line-height: 1; -ms-word-wrap: break-word;
}
.display-3 {
	line-height: 1; -ms-word-wrap: break-word;
}
.display-4 {
	line-height: 1; -ms-word-wrap: break-word;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
blockquote {
	border-color: rgb(255, 51, 102); padding: 10px 0px 10px 20px; border-left-width: 2px; border-left-style: solid; position: relative;
}
textarea[type='hidden'] {
	display: none;
}
body {
	position: relative;
}
section {
	background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;
}
section .mbr-background-video {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
section .mbr-background-video-preview {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.hidden {
	visibility: hidden;
}
.mbr-z-index20 {
	z-index: 20;
}
.mbr-white {
	color: rgb(255, 255, 255);
}
.mbr-black {
	color: rgb(0, 0, 0);
}
.mbr-bg-white {
	background-color: rgb(255, 255, 255);
}
.mbr-bg-black {
	background-color: rgb(0, 0, 0);
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
@media all and (max-width:767px)
{
.align-left {
	text-align: center;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: center;
}
.mbr-section-btn {
	text-align: center;
}
.mbr-section-title {
	text-align: center;
}
}
.mbr-light {
	font-weight: 300;
}
.mbr-regular {
	font-weight: 400;
}
.mbr-semibold {
	font-weight: 500;
}
.mbr-bold {
	font-weight: 700;
}
.media-size-item {
	flex:1 1 auto; -webkit-flex: 1 1 auto; -moz-flex: 1 1 auto; -o-flex: 1 1 auto;
}
.media-content {
	flex-basis: 100%; -webkit-flex-basis: 100%;
}
.media-container-row {
	flex-flow:row wrap; display: flex; justify-content: center; align-items: flex-start; align-content: center; -webkit-flex-direction: row; -webkit-flex-wrap: wrap; -webkit-justify-content: center; -webkit-align-content: center; -webkit-align-items: start;
}
.media-container-row .media-size-item {
	width: 400px;
}
.media-container-column {
	flex-flow:column wrap; display: flex; justify-content: center; align-items: stretch; align-content: center; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-justify-content: center; -webkit-align-content: center; -webkit-align-items: stretch;
}
.media-container-column > * {
	width: 100%;
}
@media all and (min-width:992px)
{
.media-container-row {
	flex-wrap: nowrap; -webkit-flex-wrap: nowrap;
}
}
figure {
	overflow: hidden;
}
figure[mbr-media-size] {
	transition:width 0.1s;
}
.mbr-figure img {
	width: 100%; display: block;
}
.mbr-figure iframe {
	width: 100%; display: block;
}
.card {
	border: currentColor; border-image: none; background-color: transparent;
}
.card-img {
	text-align: center; flex-shrink: 0;
}
.media {
	margin: 0px auto; max-width: 100%;
}
.mbr-figure {
	-ms-grid-row-align: center; align-self: center; -webkit-align-self: center;
}
.media-container > div {
	max-width: 100%;
}
.mbr-figure img {
	width: 100%;
}
.card-img img {
	width: 100%;
}
@media all and (max-width:991px)
{
.media-size-item {
	width: auto !important;
}
.media {
	width: auto;
}
.mbr-figure {
	width: 100% !important;
}
}
.mbr-section-btn {
	font-size: 0px; margin-right: -0.25rem; margin-left: -0.25rem;
}
nav .mbr-section-btn {
	margin-right: 0rem; margin-left: 0rem;
}
.btn .mbr-iconfont {
	margin-right: 0.5rem; cursor: pointer;
}
.btn-sm.btn .mbr-iconfont {
	margin-right: 0.5rem; cursor: pointer;
}
.btn-md.btn .mbr-iconfont {
	margin-right: 0.8rem;
}
.btn-md.btn .mbr-iconfont {
	margin-right: 0.8rem;
}
.mbr-regular {
	font-weight: 400;
}
.mbr-semibold {
	font-weight: 500;
}
.mbr-bold {
	font-weight: 700;
}
[type='submit'] {
	-webkit-appearance: none;
}
.mbr-fullscreen .mbr-overlay {
	min-height: 100vh;
}
.mbr-fullscreen {
	padding-top: 3rem; padding-bottom: 3rem; display: flex; min-height: 100vh; align-items: center; -webkit-align-items: center;
}
.map {
	height: 25rem; position: relative;
}
.map iframe {
	width: 100%; height: 100%;
}
.form-asterisk {
	top: -2px; font-family: initial; font-weight: normal; position: absolute;
}
.mbr-arrow-up {
	text-align: right; right: 90px; bottom: 25px; color: rgb(255, 255, 255); font-size: 32px; position: fixed; z-index: 5000; transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.mbr-arrow-up a {
	background: rgba(0, 0, 0, 0.2); border-radius: 3px; transition:0.3s ease-in-out; width: 60px; height: 60px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; display: inline-block; position: relative; cursor: pointer; outline-style: none !important;
}
.mbr-arrow-up a:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.mbr-arrow-up a i {
	line-height: 60px;
}
.mbr-arrow-up-icon {
	color: rgb(255, 255, 255); display: block;
}
.mbr-arrow-up-icon::before {
	left: -4px; top: 6px; line-height: 1; font-family: serif; font-size: 32px; font-style: normal; display: inline-block; position: relative; content: "\203a"; transform: rotate(-90deg); -webkit-transform: rotate(-90deg);
}
.mbr-arrow {
	border-radius: 50%; left: 50%; width: 60px; height: 60px; bottom: 45px; position: absolute; cursor: pointer; transform: translateX(-50%); background-color: rgba(80, 80, 80, 0.5); -webkit-transform: translateX(-50%);
}
.mbr-arrow > a {
	animation:arrowdown 1.7s ease-in-out infinite; text-decoration: none; display: inline-block; outline-style: none; -webkit-animation: arrowdown 1.7s ease-in-out infinite;
}
.mbr-arrow > a > i {
	left: 15px; top: -2px; font-size: 2rem; position: absolute;
}
@media all and (max-width:500px)
{
.mbr-arrow-up {
	left: 50%; right: auto; transform: translateX(-50%) rotate(180deg); -webkit-transform: translateX(-50%) rotate(180deg);
}
}
.bg-gradient {
	animation:gradient-animation 5s infinite alternate; background-size: 200% 200%; -webkit-animation: gradient-animation 5s infinite alternate;
}
.menu .navbar-brand {
	
}
.menu .navbar-brand span {
	display: flex;
}
.menu .navbar-brand .navbar-caption-wrap {
	
}
.menu .navbar-brand .navbar-logo img {
	
}
@media all and (max-width:991px) and (min-width:768px)
{
.menu .navbar-toggleable-sm .navbar-nav {
	display: -ms-flexbox;
}
}
@media all and (min-width:992px)
{
.menu .nav-dropdown.navbar-nav {
	
}
.menu .navbar-toggleable-sm .navbar-collapse {
	
}
}
.engine {
	padding: 0px; left: -2400px; top: 0px; text-align: center; text-indent: -2400px; position: absolute;
}
